@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.menu {
  position: fixed;
  z-index: 1000;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

/* clicks module styles */
.clicks-module-wrapper {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdbdd;
  box-shadow: 7px 7px 4px #b9b2b6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.select-time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.time-list li {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.time-btn {
  width: 130px;
  height: 40px;
  border: 3px solid #615d5f;
  cursor: pointer;
  box-shadow: 4px 4px 4px #b9b2b6;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s;
}

.time-btn:hover {
  background-color: #464445;
  color: white;
  box-shadow: 4px 4px 4px #b9b2b6;
}

.again-button {
  width: 200px;
  height: 50px;
  border: 3px solid #615d5f;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #b9b2b6;
  font-size: 20px;
  transition: all 0.3s;
}

.again-button:hover {
  background-color: #464445;
  color: white;
  box-shadow: 4px 4px 4px #b9b2b6;
}

.result-title {
  font-size: 20px;
  text-align: center;
}

.time-info-title {
  text-align: center;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  background: #7a7a7a;
  animation: appear 0.2s;
  -webkit-animation: appear 0.2s;
}

.custom-message-wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 100px;
  width: 350px;
  border: 1px outset #615d5f;
  background: #dad2ca;
}
.timer-wrapper {
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 200px;
  width: 350px;
  border: 1px outset #615d5f;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-message-quote {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 1em;
  margin: 0.5em 0;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

.custom-message-quote:hover {
  background: #dad2ca;
  color: #0077ff;
  font-size: 3rem;
  text-transform: uppercase;
}

.timer-seconds-input {
  width: 100%;
  border: 0;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}

.timer-seconds-input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.timer-seconds-input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077ff;
  color: #0077ff;
  transform: translate3d(0, -2px, 0) scale(0.98);
}

.timer-seconds-input::-webkit-outer-spin-button,
.timer-seconds-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer-button-start,
.timer-button-continue,
.timer-button-stop,
.timer-button-submit {
  backface-visibility: hidden;
  background-color: #24f13c;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  display: none;
}

.timer-button-stop {
  background-color: #f00;
}

.timer-button-submit {
  background-color: #03f;
  display: block;
}

@keyframes appear {
  0% {
    opacity: 0.8;
    transform: scale(0.5, 0.5);
  }
  70% {
    opacity: 0.3;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.5, 0.5);
  }
  70% {
    opacity: 0.3;
    -webkit-transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
  }
}

/* custom select styles */
.select {
  position: relative;
  min-width: 600px;
  z-index: 100;
  margin-bottom: 30px;
}

.select.active .select__body {
  display: block;
}

.select__header {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select__current {
  font-size: 18px;
  line-height: 24px;
  padding: 8px;
}

.select__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;

  width: 40px;
  height: 40px;

  margin-left: auto;
}

.select__body {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #ccc;
  border-top: 0;
}

.select__item {
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.2s;
}

.select__item:hover {
  background-color: #f2f2f2;
}

.rates-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rates-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
}

.dollar-icon {
  width: 300px;
  height: 300px;
  background-image: url(./assets/img/dollar.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin-right: auto;
}

.rate-title {
  display: flex;
  justify-content: flex-end;
}

/* background module styles */
.background-wrapper {
  width: 100vw;
  height: 100vh;
  transform:translate(-32px, -32px);
}